.task-wrapper {
  display: flex;
  justify-content: center;
  height: 75vh;
  padding: 3%;
}

.task-card {
  width: 100%;
  max-width: 700px;
  padding-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.full {
  grid-column: span 2;
}

.half {
  grid-column: span 1;
}

.submit-btn {
  width: 100%;
  margin-top: 20px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
}
